@page "/showtime"

@using CinemaGo.DataModels.CustomModels;


@using CinemaGo.Web.Services;
@inject IUserPanelService userPanelService;
@inject ProtectedSessionStorage sessionStorage;
@inject NavigationManager navManager;

<style>
    .column {
        float: left;
        padding: 15px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .menu {
        width: 25%;
        margin-top: 10px;
        border: 1px outset #808080;
        border-radius: 7px;
        background: linear-gradient(-10deg, #ffd800, #808080, #23a6d5, #f5f542);
        color: black;
    }

    .content {
        width: 75%;
    }

    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu li {
        padding: 8px;
        margin-bottom: 8px;
        background-color: white;
        color: black;
    }

        .menu li:hover {
            background-color: #e7e4e4;
            color: #808080;
        }

    .stuff {
        padding: 8px;
        margin: 1px;
        background-color: white;
        border: 1px outset black;
    }

    .add-to-cart {
        width: 100%;
        border: 1px outset #808080;
        background-color: #b6ff00;
    }
</style>

<!--START-->


<div class="column menu">
    @if (categories == null)
    {
        <span>loading...</span> }
    else
    {
        <div class="mb-3">
            <h5>Select cinema</h5>
            <label for="country" class="form-label"> Cinema </label>
            <select class="form-select" aria-label="Default select example" @bind=cinemaNameTaken>
                <option value="0" selected>No opiton</option>
                <option value="GSC Queensbay Mall">GSC Queensbay Mall</option>
                <option value="TGV Aeon Bukit Mertajam">TGV Aeon Bukit Mertajam</option>
                <option value="GSC  Sunway Carnival Mall">GSC  Sunway Carnival Mall</option>
                <option value="LFS Butterworth">LFS Butterworth</option>

            </select>
        </div>

        <div style="text-align:center;"><h5>Select movie category</h5></div>
        <ul>
            @foreach (var category in categories)
            {
                <li style="cursor:pointer;" @onclick="(() => LoadProductByCategory(category))">@category.Name </li>

            }
        </ul>
    }
</div>


@if (categories == null)
{
    <span>loading...</span> }
else
{

    @foreach (var cinema in cinemas)
    {
        if (cinemaNameTaken == @cinema.Name)
        {

            <div style="min-height:700px;">
                <div class="container">

                    <div class="row">
                        @foreach (var prod in products)
                        {
                            <!-- GSC Queensbay Mall -->
                            if (@prod.CinemaId == 1 && cinemaNameTaken == "GSC Queensbay Mall")
                            {
                                <div class="col-md-4">
                                    <div class="col-md-12 stuff">
                                        <div style="width:100%;border-radius:2px;background-color:white;">
                                            <button type="button" class="btn" style="border:2px #cff7f9 inset;width: 100%;">@prod.Name</button>
                                            <img src="http://localhost:36313/@prod.ImageUrl" style="width: 100%; height:250px; border-radius: 1px; ">

                                            <div>
                                                Price:&nbsp; $@prod.Price &nbsp; &nbsp; <span style="color: red;"> Seat:&nbsp;@prod.Stock</span>
                                                <span style="color: red;">Date:&nbsp;@prod.Date</span>
                                            </div>
                                            <div>
                                                @if (@prod.CinemaId == 1)
                                                {
                                                    <h6>Cinema: GSC Queensbay Mall</h6>
                                                }
                                                else if (@prod.CinemaId == 2)
                                                {
                                                    <h6>Cinema: TGV Aeon Bukit Mertajam</h6>
                                                }
                                                else if (@prod.CinemaId == 3)
                                                {
                                                    <h6>Cinema: GSC Sunway Carnival Mall</h6>
                                                }
                                                else if (@prod.CinemaId == 4)
                                                {
                                                    <h6>Cinema: LFS Butterworth</h6>
                                                }
                                                else
                                                { <h1>Error</h1>}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                            <!--TGV Aeon Bukit Mertajam-->
                            else if (@prod.CinemaId == 2 && cinemaNameTaken == "TGV Aeon Bukit Mertajam")
                            {
                                <div class="col-md-4">
                                    <div class="col-md-12 stuff">
                                        <div style="width:100%;border-radius:2px;background-color:white;">
                                            <button type="button" class="btn" style="border:2px #cff7f9 inset;width: 100%;">@prod.Name</button>
                                            <img src="http://localhost:36313/@prod.ImageUrl" style="width: 100%; height:150px; border-radius: 1px; ">

                                            <div>
                                                Price:&nbsp; $@prod.Price &nbsp; &nbsp; <span style="color: red;"> Seat:&nbsp;@prod.Stock</span>
                                                <span style="color: red;">Date:&nbsp;@prod.Date</span>
                                            </div>
                                            <div>
                                                @if (@prod.CinemaId == 1)
                                                {
                                                    <h6>Cinema: GSC Queensbay Mall</h6>
                                                }
                                                else if (@prod.CinemaId == 2)
                                                {
                                                    <h6>Cinema: TGV Aeon Bukit Mertajam</h6>
                                                }
                                                else if (@prod.CinemaId == 3)
                                                {
                                                    <h6>Cinema: GSC Sunway Carnival Mall</h6>
                                                }
                                                else if (@prod.CinemaId == 4)
                                                {
                                                    <h6>Cinema: LFS Butterworth</h6>
                                                }
                                                else
                                                { <h1>Error</h1>}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                            <!--GSC Sunway Carnival Mall-->
                            else if (@prod.CinemaId == 3 && cinemaNameTaken == "GSC  Sunway Carnival Mall")
                            {
                                <div class="col-md-4">
                                    <div class="col-md-12 stuff">
                                        <div style="width:100%;border-radius:2px;background-color:white;">
                                            <button type="button" class="btn" style="border:2px #cff7f9 inset;width: 100%;">@prod.Name</button>
                                            <img src="http://localhost:36313/@prod.ImageUrl" style="width: 100%; height:150px; border-radius: 1px; ">

                                            <div>
                                                Price:&nbsp; $@prod.Price &nbsp; &nbsp; <span style="color: red;"> Seat:&nbsp;@prod.Stock</span>
                                                <span style="color: red;">Date:&nbsp;@prod.Date</span>
                                            </div>
                                            <div>
                                                @if (@prod.CinemaId == 1)
                                                {
                                                    <h6>Cinema: GSC Queensbay Mall</h6>
                                                }
                                                else if (@prod.CinemaId == 2)
                                                {
                                                    <h6>Cinema: TGV Aeon Bukit Mertajam</h6>
                                                }
                                                else if (@prod.CinemaId == 3)
                                                {
                                                    <h6>Cinema: GSC Sunway Carnival Mall</h6>
                                                }
                                                else if (@prod.CinemaId == 4)
                                                {
                                                    <h6>Cinema: LFS Butterworth</h6>
                                                }
                                                else
                                                { <h1>Error</h1>}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                            <!--LFS Butterworth-->
                            else if (@prod.CinemaId == 4 && cinemaNameTaken == "LFS Butterworth")
                            {
                                <div class="col-md-4">
                                    <div class="col-md-12 stuff">
                                        <div style="width:100%;border-radius:2px;background-color:white;">
                                            <button type="button" class="btn" style="border:2px #cff7f9 inset;width: 100%;">@prod.Name</button>
                                            <img src="http://localhost:36313/@prod.ImageUrl" style="width: 100%; height:150px; border-radius: 1px; ">

                                            <div>
                                                Price:&nbsp; $@prod.Price &nbsp; &nbsp; <span style="color: red;"> Seat:&nbsp;@prod.Stock</span>
                                                <span style="color: red;">Date:&nbsp;@prod.Date</span>
                                            </div>
                                            <div>
                                                @if (@prod.CinemaId == 1)
                                                {
                                                    <h6>Cinema: GSC Queensbay Mall</h6>
                                                }
                                                else if (@prod.CinemaId == 2)
                                                {
                                                    <h6>Cinema: TGV Aeon Bukit Mertajam</h6>
                                                }
                                                else if (@prod.CinemaId == 3)
                                                {
                                                    <h6>Cinema: GSC Sunway Carnival Mall</h6>
                                                }
                                                else if (@prod.CinemaId == 4)
                                                {
                                                    <h6>Cinema: LFS Butterworth</h6>
                                                }

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>




        }

    }

}


<!--END -->







@code{
    [CascadingParameter]
    public EventCallback notify { get; set; }

    public string cinemaNameTaken = " ";

    public List<CategoryModel> categories { get; set; }
    public string categoryName = string.Empty;
    public List<ProductModel> products { get; set; }
    public bool cartFlag = false;
    public List<CartModel> myCart { get; set; }
    public string cinemaName = string.Empty;
    public List<CinemaModel> cinemas { get; set; }



    protected override async Task OnInitializedAsync()
    {
        await GetCatgories();
        await GetCinemas();


    }
    private async Task GetCinemas()
    {
        cinemas = await userPanelService.GetCinemas();
        if (cinemas != null && cinemas.Count > 0)
        {
            await LoadProductByCinema(cinemas.FirstOrDefault());

        }


    }
    private async Task LoadProductByCinema(CinemaModel cinema)
    {
        cinemaName = cinema.Name;
        products = await userPanelService.GetProductByCinemaId(cinema.Id);
        if (products != null && products.Count > 0)
        {

            await updateCartText();
        }

    }

    private async Task GetCatgories()
    {
        categories = await userPanelService.GetCategories();
        if (categories != null && categories.Count > 0)
        {
            await LoadProductByCategory(categories.FirstOrDefault());

        }


    }
    private async Task AddToCart_Click(ProductModel productClicked)
    {
        cartFlag = true;

        var result = await sessionStorage.GetAsync<List<CartModel>>("myCart");

        if (!result.Success)
        {
            myCart = new List<CartModel>();

            if (productClicked.CartFlag)
            {
                var existing_product = myCart.Where(x => x.ProductId == productClicked.Id).FirstOrDefault();
                if (existing_product != null)
                {
                    myCart.Remove(existing_product);
                    await sessionStorage.SetAsync("myCart", myCart);
                }
            }
            else
            {

                CartModel cm = new CartModel();

                cm.ProductId = productClicked.Id;

                cm.Quantity = 1;
                cm.AvailableStock = Convert.ToInt32(productClicked.Stock);

                cm.ProductName = productClicked.Name;

                cm.ProductImage = productClicked.ImageUrl;

                cm.Price = Convert.ToInt32(productClicked.Price);



                myCart.Add(cm);

                await sessionStorage.SetAsync("myCart", myCart);
            }
        }
        else
        {
            myCart = result.Value;
            if (productClicked.CartFlag)
            {
                var existing_product = myCart.Where(x => x.ProductId == productClicked.Id).FirstOrDefault();
                if (existing_product != null)
                {
                    myCart.Remove(existing_product);
                    await sessionStorage.SetAsync("myCart", myCart);
                }
            }
            else
            {

                CartModel cm = new CartModel();

                cm.ProductId = productClicked.Id;

                cm.Quantity = 1;
                cm.AvailableStock = Convert.ToInt32(productClicked.Stock);

                cm.ProductName = productClicked.Name;

                cm.ProductImage = productClicked.ImageUrl;

                cm.Price = Convert.ToInt32(productClicked.Price);

                myCart.Add(cm);

                await sessionStorage.SetAsync("myCart", myCart);
            }

            await updateCartText();
        }

        await updateCartText();
        await notify.InvokeAsync();
    }

    private async Task updateCartText()
    {
        if (cartFlag)
        {
            var result = await sessionStorage.GetAsync<List<CartModel>>("myCart");

            if (result.Success)
            {
                foreach (var _product in products)
                {
                    _product.CartFlag = false;
                }

                myCart = result.Value;
                foreach (var cart in myCart)
                {
                    var cartProd = products.Where(x => x.Id == cart.ProductId).FirstOrDefault();

                    if (cartProd != null)
                    {
                        cartProd.CartFlag = true;
                    }
                }
            }

        }
    }

    private async Task LoadProductByCategory(CategoryModel category)
    {
        categoryName = category.Name;
        products = await userPanelService.GetProductByCategoryId(category.Id);
        if (products != null && products.Count > 0)
        {
            await updateCartText();

        }

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await sessionStorage.GetAsync<List<CartModel>>("myCart");
            if (result.Success)
            {
                cartFlag = true;
            }
        }
    }

}


